

<HTML>

<head>
    <title>
        My Gallery
        </title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

        <style>
            .gallery{
                margin :10px 50px;
            }
            .gallery img {
                width:250px;
                padding: 5px;
           }
           .gallery img:hover{
               transform: scale(1.1);
           }
        </style>
</head>

<body>
    <h2>My Photos Gallery</h2>
    <div>
        <a href="/">Gallery</a>
        &nbsp;&nbsp;
        <a href="/webcam">Take a picture</a>
    </div>
    <hr>
     <div class="Gallery">   
       {{#each images}}
         <td><img class="img-thumbnail" src ="{{this}}" width="256px" height="150px"></td>                    
       {{/each}}
    </div>        
</body>

</HTML>